/* Google Font */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: normal;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v5/eJYqrhUff1n1Ge9A-rSw_BJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: normal;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v5/w5P-SI7QJQSDqB3GziL8XVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
